.items-section {
  position: relative; /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}

.content-section-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centar div */
}

.content-section-center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content-section-bottom {
  position: absolute;
  bottom: 0;
}

.interrogacion-mundo {
  position: absolute;
  top: 10%;
  left: 10%;
}

.w-80 {
  width: 80% !important;
}

.w-interragacion-mundo {
  width: 70%;
}

.h-bg,
.h-bg-section-4,
.h-bg-section-5,
.h-bg-section-10 {
  height: auto;
}

.container-floating {
  position: fixed;
  width: 14%;
  bottom: 50px;
  left: 50px;
  z-index: 10;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-config-form {
  background-color: unset;
  border: unset;
  border-radius: unset;
}

.content-btn-enviar {
  position: absolute;
  left: 50%;
  bottom: 12%;
  transform: translateX(-50%);
}

.content-input-email {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

.form-input-email {
  border: unset;
  padding: 1rem 0.75rem;
}

.form-input-email:focus {
  border-color: unset;
  box-shadow: unset;
}

@media only screen and (max-width: 576px) {
  .w-interragacion-mundo {
    width: 30%;
  }

  .interrogacion-mundo {
    top: 20%;
    left: 10px;
  }

  .h-bg {
    height: 300px;
  }

  .h-bg-section-4,
  .h-bg-section-10 {
    height: 240px;
  }

  .h-bg-section-5 {
    height: 260px;
  }

  .container-floating {
    width: 24%;
    bottom: 10px;
    left: 10px;
  }
}
